flows/Adidas_Branch_Phone_Trigger_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Branch_Phone_No</name>
        <label>Assign Branch Phone No.</label>
        <locationX>803</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>$Record.Branch_Phone_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Branch_Record.Branch_Phone__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Branch_Phone_Update</name>
        <label>Branch Phone Update</label>
        <locationX>338</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>phone_populate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Adidas_Branch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Adidas_Branch__r.Branch_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Branch_Record</targetReference>
            </connector>
            <label>phone populate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Adidas Branch Phone Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adidas Branch Phone Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Branch_Record</name>
        <label>get Branch Record</label>
        <locationX>586</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Branch_Phone_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Adidas_Branch__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Adidas_Branch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Branch_Phone_Update</targetReference>
        </connector>
        <object>Employee_Details__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
