flows/BirthdayWishScheduleFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Birthday_Wishes</name>
        <label>Send Birthday Wishes</label>
        <locationX>810</locationX>
        <locationY>345</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Employee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BirthdayEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Happy Birthday</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>dayOfDOB</name>
        <dataType>String</dataType>
        <expression>Text(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>monthOfDOB</name>
        <dataType>String</dataType>
        <expression>Text(MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>BirthdayWishScheduleFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BirthdayWishScheduleFlow</label>
    <loops>
        <name>Employee</name>
        <label>Employee</label>
        <locationX>320</locationX>
        <locationY>344</locationY>
        <collectionReference>getEmployee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Birthday_Wishes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getEmployee</name>
        <label>getEmployee</label>
        <locationX>111</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Day_Of_DOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dayOfDOB</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_Of_DOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>monthOfDOB</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getEmployee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Employee_Details__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-03</startDate>
            <startTime>13:35:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BirthdayEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: garamond; font-size: 16px;&quot;&gt;&lt;em&gt;Wish you a very Happy Birthday&lt;/em&gt;&lt;/strong&gt; &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(169, 31, 31); font-size: 16px; font-family: garamond;&quot;&gt;&lt;em&gt;{!$Record.Name}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
