flows/Collage_Student_Birthday_Wish_Schedule_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendBirthdayWish</name>
        <label>sendBirthdayWish</label>
        <locationX>696</locationX>
        <locationY>310</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>collageStudent.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Birthday Wishes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BirthdayEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>dayOfDOB</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>monthOfDOB</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>Collage Student Birthday Wish Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collage Student Birthday Wish Schedule Flow V4</label>
    <loops>
        <name>collageStudent</name>
        <label>collageStudent</label>
        <locationX>253</locationX>
        <locationY>309</locationY>
        <collectionReference>getCollageStudent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sendBirthdayWish</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCollageStudent</name>
        <label>getCollageStudent</label>
        <locationX>115</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>collageStudent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Day_Of_DOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dayOfDOB</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_Of_DOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>monthOfDOB</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Collage_Student__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getCollageStudent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DOB__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Collage_Student__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-23</startDate>
            <startTime>23:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BirthdayEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Wish You a Very Happy Birthday &lt;/strong&gt;&lt;strong style=&quot;font-family: serif; color: rgb(199, 37, 37);&quot;&gt;{!$Record.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>TestEmailSendVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
