flows/CollageStudentFamilyContactRecordTrigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignContactNo</name>
        <label>assignContactNo</label>
        <locationX>465</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>$Record.Family_s_Contact_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFamilyDetails.Mobile__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>FamilyDetails</name>
        <label>FamilyDetails</label>
        <locationX>48</locationX>
        <locationY>73</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isFamilyDetailsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collage_Student_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFamilyDetails</targetReference>
            </connector>
            <label>isFamilyDetailsPopulated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CollageStudentFamilyContactRecordTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CollageStudentFamilyContactRecordTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getFamilyDetails</name>
        <label>getFamilyDetails</label>
        <locationX>156</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignContactNo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collage_Student_Family__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Collage_Student_Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FamilyDetails</targetReference>
        </connector>
        <object>Collage_Student__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
