flows/Count_Opportunity_On_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Get_Count</name>
        <label>Get Count</label>
        <locationX>124</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>CountOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>All_Open_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_No_Of_Opportunity_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_No_Of_Opportunity_Field</name>
        <label>Update No. Of Opportunity Field</label>
        <locationX>383</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_Of_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountOpp</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Count Opportunity On Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Opportunity On Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Open_Opportunity</name>
        <label>All Open Opportunity</label>
        <locationX>57</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>339</locationX>
        <locationY>11</locationY>
        <connector>
            <targetReference>All_Open_Opportunity</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
