flows/StudentFamilyContUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>549</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>$Record.Family_s_Contact_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFamily.Mobile__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>FamilyDetails</name>
        <label>FamilyDetails</label>
        <locationX>110</locationX>
        <locationY>101</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFamily</targetReference>
            </connector>
            <label>isPopulated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>StudentFamilyContUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>StudentFamilyContUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getFamily</name>
        <label>getFamily</label>
        <locationX>302</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Family_Details__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Family_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>417</locationX>
        <locationY>11</locationY>
        <connector>
            <targetReference>FamilyDetails</targetReference>
        </connector>
        <object>Student__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
